$background-color: #286efa;
$background-color-darker: #2a67e0;

main {
display: grid;
grid-template-columns: 1fr 35vw;
grid-template-areas: "left_body   right_body"
                     "left_body   right_body";
                     
left {
  grid-area: left_body;
  height:100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [first_row]   auto 
                      [second_row]  1fr ;

  grid-template-areas: "steps"
                       "body"
  ;
  
  align-items: center;

  div.steps {
    grid-area: steps;
    text-align: right;

      span.active {
        color: #000
      }
      span {
        color: grey
      }
  }

  div.body {
    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;

    %headings {
      text-align: left !important;
    };

    h2 {
      @extend %headings;
      }

    p {
      @extend %headings;
    }

    form {
      width: 40%;
      
      %inputs {
        padding: 5px;
        width: 100%;
        height: 40px;
        border-radius: 3px;
        border: 1px solid #cccc;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        background: #ffffff
      }
      input {
        @extend %inputs
      }
      select {
        @extend %inputs;
      }
      button {
        @extend %inputs;
        color: #000;
        background-color: $background-color;
      }
      button:hover {
        color: rgb(22, 21, 21);
        background-color:$background-color-darker;
      }
    }

  }

  }

right {
  grid-area: right_body;
  background-color: $background-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  div {
    padding-top: 90px;
    text-align: center;

    h2 {
        font-size: 22px;
        padding-bottom: 10px;
       }

    p {
        padding-top: 20px;
        width: 270px;
        word-spacing: 3px;
        margin: auto;
        text-align: left;
        font-size: 0.9rem;
        line-height: 22px;
      }
    }

  }
}
